.scrollbar::-webkit-scrollbar {
    @apply w-1 h-1;
}

.scrollbar::-webkit-scrollbar-track {
    @apply w-1.5 h-1.5;
}

.scrollbar::-webkit-scrollbar-thumb {
    @apply w-1 h-1 rounded bg-indigo-300;
}

.dashboard {
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 70px);
    width: 100%;
}

.dashboard_buttons {
    position: absolute;
    height: 130px;
    right: 15px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dashboard_button {
    height: 100px;
}

.dashboard_button:hover {
    fill: black;
    cursor: pointer;
    transition: all .5s;
}
